.logo {
    max-width: 100px;
    max-height: auto;
    border-radius: 50%;
}

.header {
    display: flex;
    padding: 10px 200px;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.first-section {
    display:flex;
    padding: 100px 200px;
    gap: 20px;
    justify-content: space-between;
}

.Stepan {
    width: 300px;
    height: auto;
}

.left {
    width: 300px;
}

.left .right{
    flex: 1;
}